<article class='finding' data-survey='{{ survey_id }}'>
  <a href='#{{ target }}' data-question-id='{{ question_id }}'>{{ label }}</a>
  <small>{{ survey_label }}</small>
  <p>{{ highlight }}</p>
</article>
